# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.ycm_extra_conf.py
.ycm_extra_conf.pyc
.clang_complete
project.el
run

bin/
data/
obj/

/.ninja_deps
/.ninja_log
/__pycache__/ninja_syntax.cpython-34.pyc
/compile_commands.json
